<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Secret Santa</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</head>

<body>

	<div ng-app="secretSanta" ng-controller="ctrlEvent" class="container">
		<div>
			<img src="./assets/img/logo_secret_santa.png" alt="">
		</div>
		<br>
		<div class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Aviso</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Parab&eacute;ns voc&ecirc; acabou de criar o seu evento de amigo secreto!</p>
						<p>Mas enviar os emails para os participantes com seus respectivos amigos secreto &eacute; necess&aacute;rio clicar no link "Sortear amigo secreto" enviado para o seu email.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<h1>O que é Secret Santa?</h1>
			<p class="text-justify">É um <strong>organizador de troca de presentes</strong> online <strong>gratuito</strong>! Organize um evento de amigo convidando amigos, família ou até colegas de trabalho. Após receber o e-mail do Organizador do evento, você pode adicionar sua própria <strong>lista de presentes desejados</strong>, que poderá ser visualizada pelo seu amigo secreto.</p>
			<p class="text-justify">Todos os anos, pessoas no mundo inteiro trocam presentes durante o período de
				Natal.
				Para deixar esse momento ainda mais memorável, você pode fazer com que <strong>pessoas escolhidas
					arbitrariamente</strong> comprem presentes umas para as outras.
			</p>

			<h2>Como funciona?</h2>
			<p class="text-justify">Basta criar um evento nesta página inicial</a>. Você precisa de, no mínimo, 3 participantes, <b>sendo o primeiro participante também o proprietário e operador do evento e lista.</b> O operador da lista irá receber o link de confirmação por e-mail, no qual ele precisará clicar para validar o evento. Uma vez validado, os nomes que estão na lista do seu evento de amigo secreto será sorteado e todos os participantes receberão a mensagem que você escreveu para eles junto com o nome do amigo para o qual eles deves comprar um presente, ou seja, seu Amigo Secreto. Essa confirmação é necessária para evitar que hóspedes indesejáveis ou trols estraguem a brincadeira do Secret Santa. <b>O e-mail de validação irá gerar um link para o proprietário do evento</b>.
			</p>
		</div>

		<div>
			<h2>Adicione os participantes</h2>
			<form name="event" action="" onsubmit='return false;' novalidate="novalidate">
				<div class="row">
					<div class="col">
						<label for="party_eventdate" class="required">Data da sua festa de Amigo Secreto</label>
						<input type="datetime-local" ng-model="eventDate" id="party_eventdate" name="party[eventdate]"
							required="required" class="form-control" />

					</div>
					<div class="col">
						<label for="party_location" class="required">Local da sua festa</label>
						<input type="text" ng-model="eventLocal" id="party_location" name="party[location]"
							required="required" class="form-control" />

					</div>
					<div class="col">
						<label for="party_amount" class="required">Valor máximo a gastar</label>
						<input type="number" ng-model="eventAmount" id="party_amount" name="party[amount]"
							required="required" class="form-control" />

					</div>
				</div>

				<div>
					<table class="table table-striped">
						<thead>
							<th>#</th>
							<th>Participante</th>
							<th>E-mail</th>
							<th></th>
						</thead>
						<tbody>
							<tr ng-repeat="participant in participants">
								<td>{{participants.indexOf(participant) + 1}}</td>
								<td><input ng-model="participant.name" class="form-control" type="text" name="" id="">
								</td>
								<td><input ng-model="participant.email" class="form-control" type="text" name="" id="">
								</td>
								<td></td>
								<td class="text-end">
									<p ng-show="participants.indexOf(participant) === 0">"Esta pessoa é o operador da
										lista"</p><button ng-show="participants.indexOf(participant) > 0"
										ng-click="delParticipant(participant)" class="btn btn-danger">Remover esta
										pessoa</button>
								</td>
							</tr>
							<!-- <tr>
								<td>1</td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td></td>
								<td class="text-end">Esta pessoa é o operador da lista</td>
							</tr>
							<tr>
								<td>2</td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td> </td>
								<td class="text-end"><button class="btn btn-danger">Remover esta pessoa</button></td>
							</tr>
							<tr>
								<td>3</td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td><input class="form-control" type="text" name="" id=""></td>
								<td> </td>
								<td class="text-end"><button class="btn btn-danger">Remover esta pessoa</button></td>
							</tr> -->
						</tbody>
					</table>
				</div>

				<div class="bg-light text-end">
					<button ng-click="addParticipant()" class="btn btn-success">
						Adicionar Pessoa
					</button>
				</div>

				<h2>Adicione uma mensagem pessoal</h2>
				<textarea ng-model="eventMessage" id="party_message" name="party[message]" required="required" rows="8"
					class="form-control field span12"></textarea><br />

				<br />
				<!-- <div class="confirmation">
					<input type="checkbox" ng-model="eventPermission" id="party_confirmed" name="party[confirmed]"
						required="required" value="1" />
					<label for="party_confirmed" class="required">Sim, tenho permissão para utilizar os e-mails dos
						participantes</label>
				</div> -->
				<p>
					<button type="submit" ng-click="createEvent()" class="btn btn-large btn-primary btn-create-event"
						id="create-party-btn">
						<i class="fa fa-check"></i> Criar um evento!
					</button>
				</p>

			</form>

		</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="./libs/angular.min.js"></script>
<script src="./assets/js/script.js"></script>
<script src="./assets/js/controllers/eventController.js"></script>
<script src="./assets/js/services/eventService.js"></script>
<script>
	$(document).ready(function () {
		// Preenche os campos para teste
		const TEST = getUrlParameter('test');

		if (TEST) {
			$("#party_eventdate").val(`2021-12-25T21:00`);
		}


	});
	
</script>

</html>